body {
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    width: 32em;
    height: 17em;
}

section {
    width: 32em;
}

div {
    width: 32em;
}

#firstdiv {
    height: 17em;
    border: 0.5px solid;
    box-shadow: 2px 2px 2px rgb(231, 227, 227) inset;
    border-color: aliceblue;
}

#seconddiv {
    padding: 1em;
    width: 24.6em;
    font-size: larger;
    border: 0.5px solid;
    box-shadow: 2px 2px 2px rgb(231, 227, 227) inset;
    border-color: aliceblue;
}

#thirddiv {
    padding-left: 1em;
    padding-top: 1.2em;
    width: 27.4em;
    font-size: large;
    border: 0.5px solid;
    box-shadow: 2px 2px 2px rgb(231, 227, 227) inset;
    border-color: aliceblue;
}

#fourthdiv {
    height: 3.5em;
    border: 0.5px solid;
    box-shadow: 2px 2px 2px rgb(231, 227, 227) inset;
    border-color: aliceblue;
}

select {
    border-radius: 20px;
    padding: 0.5em;
}

button {
    width: 33.333%;
    height: 3.2em;
    font-size: larger;
    border: 0px;
    border-radius: 3px;
    color: white;
}

#firstbtn {
    background-color: #124559;
}

#secondbtn {
    background-color: #4361ee;
}

#thirdbtn {

    background-color: #ef233c;
}

#within {
    width: 10.3em;
    font-size: 3em;
}

#cool {
    font-size: larger;
}

p {
    font-size: 1.35em;
}

@media (max-width: 580px) {
    img {
        width: 20em;
        height: 17em;
    }

    section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        height: 50em;
        margin-top: 1em;
        margin-bottom: 5em;
    }

    #firstdiv {
        width: 20em;
        margin: 0 auto;
    }

    #seconddiv {
        width: 14.7em;
        margin: 0 auto;
    }

    #thirddiv {
        width: 16.8em;
        margin: 0 auto;
    }

    #within {
        width: 5em;
    }

    #fourthdiv {
        height: 12em;
        width: 20em;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }


    #firstbtn,
    #secondbtn,
    #thirdbtn {
        width: 16.7em;
        height: 4em;
        margin: 0 auto;
    }

    #cool {
        margin-left: -0.5em;
        font-size: x-large;
    }
}